# Banco de dados local SQLite (ou PostgreSQL em produção ex: postgresql://user:pass@host:5432/myreserve)
DATABASE_URL="file:./dev.db"

# Segredo para assinatura de tokens JWT de sessão
JWT_SECRET="myreserve-secret-token-key-travel-agency-2026"

# Nome da Aplicação
NEXT_PUBLIC_APP_NAME="MyReserve"

# API de Cotação de Câmbio (AwesomeAPI)
EXCHANGE_API_URL="https://economia.awesomeapi.com.br/json/last/USD-BRL,EUR-BRL"
